<form>
    <section class="form-block">
      <label>Cadastre sua movimentação</label>
      <div class="form-group">
        <label for="aForm_1">Descrição</label>
        <input [(ngModel)]="movimentacao.name" name="name" type="text" id="aForm_1" placeholder="Descrição" size="45">
      </div>
      <div class="form-group">
        <label for="aForm_2">Data de Lançamento</label>
        <input [(ngModel)]="movimentacao.dataLancamento" name="dataLancamento" type="date" id="aForm_2" >
      </div>
      <div class="form-group">
        <label for="aForm_3">Tipo</label>
        <div class="select">
          <select  name="tipo" [(ngModel)]="movimentacao.tipo" >
              <option *ngFor="let tipo of tiposLista" [ngValue]="tipo.id" >{{tipo.descricao}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="aForm_3">Categoria</label>
        <div class="select">
         
          <select  name="categoria" id="aForm_4" [(ngModel)]="movimentacao.categoria" >
            <option *ngFor="let categoria of categoriasLista" [ngValue]="categoria.id" >{{categoria.descricao}}</option>
          </select>

        </div>
      </div>
      <div class="form-group">
        <label for="aForm_1">Valor</label>
        <input [(ngModel)]="movimentacao.valor" name="valor" type="text" id="aForm_5" placeholder="Valor" size="45">
      </div>
      <button (click)="cadastra()" type="submit" class="btn btn-primary">Ok</button>
      <button (click)="voltar()" type="submit" class="btn btn-primary">Voltar</button> 
    </section>
  </form>

