<p>Recebimentos</p>
<clr-datagrid>
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>Descrição</clr-dg-column>
    <clr-dg-column>Data de Lançamento</clr-dg-column>
    <clr-dg-column>Data de Vencimento</clr-dg-column>
    <clr-dg-column>Categoria</clr-dg-column>
    <clr-dg-column>Valor</clr-dg-column>
    <clr-dg-column>Ações</clr-dg-column>
    <clr-dg-row *clrDgItems="let movimentacoes of movimentacoes" [clrDgItem]="movimentacoes">
        <clr-dg-cell>{{movimentacoes.id}}</clr-dg-cell>
        <clr-dg-cell>{{movimentacoes.descricao}}</clr-dg-cell>
        <clr-dg-cell>{{movimentacoes.data_lancamento}}</clr-dg-cell>
        <clr-dg-cell>{{movimentacoes.data_vencimento}}</clr-dg-cell>
        <clr-dg-cell>
                <div [ngSwitch]="movimentacoes.Categoria_id">
                        <span *ngSwitchCase="1">Transporte</span>
                        <span *ngSwitchCase="2">Contas</span>
                        <span *ngSwitchCase="3">Lazer</span>
                        <span *ngSwitchCase="4">Educação</span>
                        <span *ngSwitchCase="5">Financiamento</span>
                        <span *ngSwitchCase="6">Outros Gastos</span>
                    
                </div>
            </clr-dg-cell>
        <clr-dg-cell>{{movimentacoes.valor}}</clr-dg-cell>
        <clr-dg-cell>
            <button class="btn btn-primary">
                Alterar
            </button>

            <button class="btn btn-danger">
                Remover
            </button>
        </clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>

