<div class="main-container">
        <script src="node_modules/chart.js/Chart.min.js"></script>
        <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
        <header class="header header-6">
                <div class="branding">
                        <a href="..." class="nav-link">
                            <clr-icon shape="vm-bug"></clr-icon>
                            <span class="title">Cash Home</span>
                        </a>
                </div>
        </header>
        <div class="content-container">
            <div class="content-area">
                <router-outlet></router-outlet>
            </div>
            <nav class="sidenav">
                <section class="sidenav-content">                   
                    <section class="nav-group collapsible">
                        <input id="tabexample1" type="checkbox">
                        <label for="tabexample1">Movimentações</label>
                        <ul class="nav-list">                            
                            <li><a routerLink="/recebimentos" class="nav-link">Recebimentos</a></li>
                            <li><a routerLink="/despesas" class="nav-link">Despesas</a></li>
                            <li><a routerLink="/cadastraMovimentacoes" class="nav-link">Cadastrar Movimentações</a></li>
                        </ul>
                    </section>
                    <section class="nav-group collapsible">   
                        <input id="tabexample2" type="checkbox">
                        <label for="tabexample2">Gráficos</label>
                        <ul class="nav-list">
                            <li><a routerLink="/categoriasGrafico" class="nav-link">Categorias</a></li>
                            <li><a routerLink="/recebebimentosDespesasGrafico" class="nav-link">Recebimentos e Despesas</a></li>                            
                        </ul>
                    </section>                                       
                </section>
            </nav>
        </div>
    </div>
